{% extends 'base.html' %}

{% block messages %}{% include 'messages.html' %}{% endblock %}

{% block header %}Welcome!{% endblock %}

{% block filter %}
	<div class="center">
	    <p>Django-LMS is a learning management system, aiming to provide both ease of access and serious education.</p>
	    <p>In order to use the system please sign up or log in.</p>
	</div>
{% endblock %}

{% block button %}
 	<a class="btn btn-info" id="signup" href="{% url 'signup' %}">Sign up</a>
    <a class="btn btn-primary" id="login" href="{% url 'login' %}">Log in</a>
{% endblock %}
