{% extends 'base.html' %}

{% block header_text %}Editing questions for: {{ exam.name }}{% endblock %}

{% block filter %}
	<br>
	<input class="col-md-offset-5" type="text" id="id_search" placeholder="Filter questions" onkeypress="searchFilter()">
	<br>
	<br>
{% endblock %}

{% block form_action %}{% url 'edit_questions' course.id exam.id %}{% endblock %}

{% block button %}
	<button class="btn btn-primary" id="id_submit" type="submit" name="update">Update</button>	
{% endblock %}

{% block dashboard %}
	<a href="{% url 'edit_exam' course.id exam.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to exam
	</a>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var questions = [];
		
		{% for question in questions %}
			questions.push("{{ question.name }}");
		{% endfor %}

		$(":checkbox").each(function(i) {
			$(this).parent().html($(this).parent().html().replace("Question object", questions[i]));
		});
	</script>
{% endblock %}