{% extends 'base.html' %}

{% block navigation %}
  <li><a href="{% url 'student_courses' %}">Courses</a></li>
  <li><a href="{% url 'view_course' course.id %}">{{ course.name }}</a></li>
  <li><a href="{% url 'view_exam' course.id exam.id %}">{{ exam.name }}</a></li>
  <li class="active">Password</li>
{% endblock %}

{% block header %}Enter exam password{% endblock %}

{% block dashboard %}
  <form class="center" action="{% url 'input_password' course.id exam.id %}"
  method="post">
    {% csrf_token %}  
    <input type="password" name="input" id="input">
    <button class="btn btn-primary" id="submit" type="submit">Submit</button>
  </form>
{% endblock %}