{% extends 'base.html' %}

{% block messages %}
    {% for message in messages %}
        <h4 class="alert alert-{{ message.level_tag }} text-center">
            <strong>{{ message.message }}</strong>
        </h4>
    {% endfor %}
{% endblock %}

{% block header %}Exams for {{ course.name }}{% endblock %}

{% block dashboard %}
	{% for exam in exams %}
		<a class="list-group-item" href="{% url 'edit_exam' course.id exam.id %}">
			<h4 class="list-group-item-heading">{{ exam.name }}</h4>
			<p class="list-group-item-description">{{ exam.description }}</p>
		</a>
	{% endfor %}
	<br>
	<a href="{% url 'create_exam' course.id %}">
		<span class="glyphicon glyphicon-plus"></span>
		Create new exam
	</a>
	<br>	
	<a href="{% url 'edit_course' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to course
	</a>
{% endblock %}	