{% extends 'base.html' %}

{% block navigation %}
  <li><a href="{% url 'teacher_courses' %}">Courses</a></li>
  <li><a href="{% url 'edit_course' course.id %}">{{ course.name }}</a></li>
  <li class="active">Exams</li>
{% endblock %}

{% block messages %}{% include 'messages.html' %}{% endblock %}

{% block header %}Exams for {{ course.name }}{% endblock %}

{% block dashboard %}
  {% for exam in exams %}
    <a class="list-group-item" href="{% url 'edit_exam' course.id exam.id %}">
      <h4 class="list-group-item-heading">{{ exam.name }}</h4>
      <p class="list-group-item-description">{{ exam.description }}</p>
    </a>
  {% endfor %}
  <a href="{% url 'create_exam' course.id %}">
    <span class="glyphicon glyphicon-plus"></span>
    Create new exam
  </a>
{% endblock %}  