{% extends 'base.html' %}

{% load to_char %}

{% block header_text %}
	{% if messages %}
	    {% for message in messages %}
	    	{{ message }}
	    {% endfor %}
	{% else %}
		Viewing exam: {{ exam.name }}
	{% endif %}
{% endblock %}

{% block dashboard %}
	<table class="table table-hover">
		<tr>
			<th>Exam creator:</th>
			<td>{{ exam.owner }}</td>
		</tr>
		<tr>
			<th>Exam description:</th>
			<td>{{ exam.description }}</td>
		</tr>
		<tr>
			<th>Exam category:</th>
			<td>{{ exam.category }}</td>
		</tr>
		<tr>
			<th>Time limit:</th>
			<td>{{ exam.time_limit }}</td>
		</tr>
		<tr>
			<th>Active from:</th>
			<td>{{ exam.active_from|date }}</td>
		</tr>
		<tr>
			<th>Until:</th>
			<td>{{ exam.active_to|date }}</td>
		</tr>
		<tr>
			<th>Remaining:</th>
			{% if exam.expired %}
				<td>Exam closed.</td>
			{% else %}
				<td>{{ exam.active_to|timeuntil }}</td>
			{% endif %}
		</tr>
		<tr>
			<th>Your result:</th>
			<td>{{ result }}</td>
		</tr>
		<tr>
			<th>Exam created:</th>
			<td>{{ exam.created|date }}</td>
		</tr>
		<tr>
			<th>Exam last updated:</th>
			<td>{{ exam.updated|date }}</td>
		</tr>
		<tr>
			<th>Belongs to course:</th>
			<td>{{ course.name }}</td>
		</tr>
	</table>
	{% if questions and 'Exam' in result and exam.activated and not exam.expired %}
		<a href="{% url 'take_exam' course.id exam.id %}">
			<span class="glyphicon glyphicon-pencil"></span>
			Take exam
		</a>
		<br>
	{% endif %}
	{% if questions and not 'Exam' in result %}
		<h4 class="text-primary">Exam questions and answers:</h4>
		<table>
		{% for quest in questions %}
			<thead>
				<tr>
					<th>{{ forloop.counter }}. {{ quest.question.question_text }}</th>
				</tr>
			</thead>
			{% for choice in quest.question.choice_set.all %}	
				<tr class="choices">
					{% if choice.correct %}
						<td>{{ forloop.counter|to_char }}) {{ choice.choice_text }} - <b>Correct.</b></td>
					{% else %}
						<td>{{ forloop.counter|to_char }}) {{ choice.choice_text }}</td>
					{% endif %}
				</tr>
			{% endfor %}		
		{% endfor %}
		</table>
	{% endif %}
	<a href="{% url 'view_course' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to course
	</a>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$("#take-exam").click(function() {
			var input = prompt("Enter exam password:");
			if (input == "{{ exam.password }}") {
				return true;
			}
			return history.go(-1);
		});
	</script>
{% endblock %}