{% extends 'base.html' %}

{% load to_char %}

{% load get_item %}

{% block header %}Viewing questions for {{ exam.name }}{% endblock %}

{% block dashboard %}
		<table>
		{% for exam_quest in exam_questions %}
			<thead>
				<tr>
					<th>{{ forloop.counter }}. {{ exam_quest.question.question_text }}</th>
				</tr>
			</thead>
			{% for choice in exam_quest.question.choice_set.all %}	
				<tr class="choices">
					{% if answers|get_item:exam_quest == choice.id and choice.correct %}
						<td>{{ forloop.counter|to_char }}) {{ choice.choice_text }} - Success</td>
					{% elif choice.correct %}
						<td>{{ forloop.counter|to_char }}) {{ choice.choice_text }} - Correct answer</td>
					{% elif answers|get_item:exam_quest == choice.id  %}
						<td>{{ forloop.counter|to_char }}) {{ choice.choice_text }} - Your answer</td>
					{% else %}
						<td>{{ forloop.counter|to_char }}) {{ choice.choice_text }}</td>
					{% endif %}
				</tr>
			{% endfor %}		
		{% endfor %}
		</table>
	{% if teacher %}
		<a href="{% url 'edit_exam' course.id exam.id %}">
	{% else %}
		<a href="{% url 'view_exam' course.id exam.id %}">
		{% endif %}
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to exam
	</a>
{% endblock %}
