{% extends 'base.html' %}

{% block header_text %}
	{% if messages %}
	    {% for message in messages %}
	    	{{ message }}
	    {% endfor %}
	{% else %}
		Viewing exam: {{ exam.name }}
	{% endif %}
{% endblock %}

{% block dashboard %}
	<table class="table table-hover">
		<tr>
			<th>Exam creator:</th>
			<td>{{ exam.owner }}</td>
		</tr>
		<tr>
			<th>Exam description:</th>
			<td>{{ exam.description }}</td>
		</tr>
		<tr>
			<th>Date to be taken:</th>
			<td>{{ exam.date_to_be_taken }}</td>
		</tr>
		<tr>
			<th>Exam updated:</th>
			<td>{{ exam.updated }}</td>
		</tr>
		<tr>
			<th>Belongs to course:</th>
			<td>{{ course.name }}</td>
		</tr>
	</table>
	<a href="{% url 'take_exam' course.id exam.id %}">
		<span class="glyphicon glyphicon-pencil"></span>
		Take exam
	</a>
	<br>
	<a href="{% url 'view_course' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to course
	</a>
{% endblock %}