{% extends 'base.html' %}

{% block header_text %}New question{% endblock %}

{% block form_action %}{% url 'create_question' course.id %}{% endblock %}

{% block additional_forms %}
	{{ choice_formset.management_form }}
	{{ choice_formset.as_p }}
{% endblock %}

{% block button %}
	<button class="btn btn-primary" id="id_submit" type="submit" name="create">Create</button>
{% endblock %}

{% block dashboard %}
	<a href="{% url 'list_questions' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to questions
	</a>
{% endblock %}