{% extends 'base.html' %}

{% block header_text %}Editing question: {{ question.name }}{% endblock %}

{% block form_action %}{% url 'edit_question' course.id question.id %}{% endblock %}

{% block additional_forms %}
	{{ choice_formset.management_form }}
	{{ choice_formset.as_p }}
{% endblock %}

{% block button %}
	<button class="btn btn-primary" id="id_submit" type="submit" name="update">Update</button>
	<button class="btn btn-danger" id="id_delete" name="delete" onclick="return confirmDelete()">Delete</button>
{% endblock %}

{% block dashboard %}
	<a href="{% url 'list_questions' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to questions
	</a>	
{% endblock %}
