{% extends 'base.html' %}

{% block header_text %}{{ question.name }}{% endblock %}

{% block form_action %}{% url 'edit_question' course.id question.id %}{% endblock %}

{% block additional_forms %}
	{{ choice_formset.management_form }}
	{{ choice_formset.as_p }}
{% endblock %}

{% block button %}
	<button class="btn btn-primary" id="id_submit" type="submit" name="update">Update</button>
	<button class="btn btn-danger" id="id_delete" name="delete" onclick="return confirmDelete()">Delete</button>
{% endblock %}

{% block dashboard %}
	<a href="{% url 'list_questions' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to questions
	</a>	
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var choice_text = [];
		var choice_correct = [];
		
		{% for choice in choices %}
			choice_text.push("{{ choice.choice_text }}");
			choice_correct.push("{{ choice.correct }}");
		{% endfor %}

		$("#id_name").val("{{ question.name }}");
		$("#id_question_text").val("{{ question.question_text }}");

		$("input[name*='choice_text']").each(function(i) {
			$(this).val(choice_text[i]);
		});

		$(":checkbox").each(function(i) {
			if (choice_correct[i] == "True") {
				$(this).attr("checked", true);			
			}
		});
	</script>
{% endblock %}