{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django-LMS</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
	</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">              
                {% if user.is_active %} 
                    {% if user.is_teacher %} 
                        <a class="navbar-brand" href="{% url 'teacher_page' %}">Django-LMS</a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'student_page' %}">Django-LMS</a>
                    {% endif %}
                    <a class="btn navbar-btn navbar-right" id="id_logout" href="{% url 'logout' %}">Log out</a>
                    <span class="navbar-text navbar-right">Logged in as {{ user.username }}</span>
                {% else %}
                    <a class="navbar-brand" href="/">Django-LMS</a>
                    <a class="btn navbar-btn navbar-right" id="id_login" href="{% url 'login' %}">Log in</a>
                    <a class="btn navbar-btn navbar-right" id="id_signup" href="{% url 'signup' %}">Sign up</a>
                {% endif %}
            </nav>
            <div class="row">              
                <h3 class="text-primary text-center">{% block header_text %}{% endblock %}</h3>       
                {% block filter %}{% endblock %}
                <form class="form-horizontal col-md-6 col-md-offset-5" action="{% block form_action %}{% endblock %}" 
                    method="POST"> 
                    {% csrf_token %}
                    <div class="form-group col-xs-4">
                        {{ form.as_p }}
                        {% block additional_forms %}{% endblock %}
                        {% block button %}{% endblock %}
                    </div>
                </form>
                <div class="col-md-4 col-md-offset-4" >                        
                    <div class="list-group">
                        {% block dashboard %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/base.js"></script>
        <script type="text/javascript">{% block javascript %}{% endblock %}</script>
    </body>
</html>