{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django-LMS</title>
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/libs/datetimepicker/jquery.datetimepicker.css"
      rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/libs/markitup/skins/simple/style.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/markitup/sets/default/style.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        {% if user.is_active %} 
          <a class="btn navbar-btn navbar-right" id="logout"
            href="{% url 'logout' %}">
            Log out
          </a>
          <a href="{% url 'profile' %}" class="navbar-text navbar-right" id="user">
              {{ user.username }}
          </a>
          <span class="navbar-text navbar-right">Logged in as</span>
        {% else %}
          <a class="navbar-brand" href="/">Django-LMS</a>
        {% endif %}
        <span class="navbar-text navbar-right" id="date">
          {% now "D, M. jS, Y" %}
        </span>
        <ul class="breadcrumb">
          {% block navigation %}{% endblock %}
        </ul>
      </nav>
      {% block messages %}{% endblock %}
      <div class="row">                 
        <h3 class="text-primary text-center">
          {% block header %}{% endblock %}
        </h3>  
        {% block filter %}{% endblock %}
        <form class="center" action="{% block form_action %}{% endblock %}"
          method="POST"> 
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          {% block additional_forms %}{% endblock %}
          {% block button %}{% endblock %}
        </form>                  
        <div class="list-group center">
          {% block dashboard %}{% endblock %}
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/libs/jquery.js"></script>
    <script type="text/javascript" src="/static/libs/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/libs/markitup/sets/default/set.js"></script>
    <script type="text/javascript"
      src="/static/libs/datetimepicker/jquery.datetimepicker.full.min.js">
    </script>
    <script type="text/javascript" src="/static/base.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>