body {
	background-color: #F8F8FF;
}

#date, #logout {
	margin-right: 1%;
	padding-right: 1%;
}

table {
	table-layout:fixed;
	width: 70%;
	border-collapse: collapse;
}

td {
	word-wrap:break-word;
}

.spaced tbody {
  	border-bottom: 20px solid #F8F8FF;
}

.list-group-item {
	background-color: white;
}

.list-group-item-description {
	overflow: hidden;
	text-overflow: ellipsis;
}

#id_participants li {
	list-style-type: none;
}

#choices-form-container li {
	margin-left: -40px;
	list-style-type: none;
}

#add-choice {
	margin-bottom: 5%;
}

#search {
	margin-top: 1%;
	margin-bottom: 5%;
}

.hidden {
	display: none;
}

.center {
	width: 50%; 
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

form[action="/"] {
	width: 30%;
}

.navbar-default {
	background-color: white;
}

.navbar-brand {
	font-size: 16px;
}

.navbar-text {
	font-size: 16px;
}

.breadcrumb {
	background-color: transparent;
	margin-top: 0.5%;
	margin-bottom: -1%;
	font-size: 16px;
}