body {
	background-color: #F8F8FF;
}

#id_login, #id_logout {
	padding-right: 2%;
}

.list-group-item-description {
	overflow: hidden;
	text-overflow: ellipsis;
}

form ul li {
	list-style-type: none;
}

tr.choices:last-child > td {
	padding-bottom: 20px;
}

button#id_add_choice {
	margin-bottom: 10px;
}