body {
	background-color: #F8F8FF;
}

#login, #logout {
	margin-right: 1%;
	padding-right: 1%;
}

table {
	table-layout:fixed;
	width: 70%;
}

td {
	word-wrap:break-word;
}

.list-group-item-description {
	overflow: hidden;
	text-overflow: ellipsis;
}

#id_participants li {
	list-style-type: none;
}

#choices-form-container li {
	margin-left: -40px;
	list-style-type: none;
}

.choices:last-child > td {
	padding-bottom: 10%;
}

#add-choice {
	margin-bottom: 5%;
}

#search {
	margin-top: 1%;
	margin-bottom: 5%;
}

.hidden {
	display: none;
}

.center {
	width: 25%; 
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

.list-group-item {
	border-width: 2px;
	border-color: #5bc0de;
}