{% extends 'base.html' %}

{% block header %}Editing participants for {{ course.name }}{% endblock %}

{% block filter %}
	<input type="text" id="search" placeholder="Filter participants" onkeyup="searchFilter()">
{% endblock %}

{% block form_action %}{% url 'edit_participants' course.id %}{% endblock %}

{% block button %}
	<button class="btn btn-primary" id="submit" type="submit" name="update">Update</button>	
{% endblock %}

{% block dashboard %}
	<a href="{% url 'edit_course' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to course
	</a>
{% endblock %}