{% extends 'base.html' %}

{% block navigation %}
	<ul class="breadcrumb"> 
		<li><a href="{% url 'edit_course' course.id %}">{{ course.name }}</a></li>
		<li class="active">Participants</li>
	</ul>
{% endblock %}

{% block header %}Editing participants for {{ course.name }}{% endblock %}

{% block filter %}
	<div class="center">
		<input type="text" id="search" placeholder="Filter participants" onkeyup="searchFilter()">
	</div>
{% endblock %}

{% block form_action %}{% url 'edit_participants' course.id %}{% endblock %}

{% block button %}
	<button class="btn btn-primary" id="submit" type="submit" name="update">Update</button>	
{% endblock %}