{% extends 'base.html' %}

{% block header_text %}
	{% if messages %}
	    {% for message in messages %}
	    	{{ message }}
	    {% endfor %}
	{% else %}
		{{ course.name }}
	{% endif %}
{% endblock %}

{% block form_action %}{% url 'edit_course' course.id %}{% endblock %}

{% block button %}
	<button id='id_submit' type='submit' name='update'>Update</button>
	<br>
	<br>	
	<ul>
    {% for exam in exams %}
        <li><a href="{% url 'edit_exam' course.id exam.id %}">{{ exam.name }} {{ exam.date_to_be_taken }}</a></li>
    {% endfor %}
	</ul>
	<a href="{% url 'create_exam' course.id %}">Add test</a>
	<br>
	<br>
	<button id='id_delete' name='delete'>Delete</button>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var participants = [];
		
		{% for participant in participants %}
			participants.push({{ participant.user.id }})
		{% endfor %}

		$("#id_name").val("{{ course.name }}");
		$("#id_description").val("{{ course.description }}");
		$("#id_participants input").each(function() {
			if (participants.indexOf(parseInt($(this).attr("value"))) != -1) {
				$(this).attr("checked", true);
			}
		});
	</script>
{% endblock %}