{% extends 'base.html' %}

{% block header_text %}
	{% if messages %}
	    {% for message in messages %}
	    	{{ message }}
	    {% endfor %}
	{% else %}
		{{ course.name }}
	{% endif %}
{% endblock %}

{% block form_action %}{% url 'edit_course' course.id %}{% endblock %}

{% block dashboard %}
	<b>Exams:</b>
	{% for exam in exams %}
		<a class="list-group-item" href="{% url 'edit_exam' course.id exam.id %}">
			<h4 class="list-group-item-heading">{{ exam.name }}</h4>
			<p class="list-group-item-description">{{ exam.description }}</p>
		</a>
	{% endfor %}
	<br>
	<a href="{% url 'create_exam' course.id %}">
		<span class="glyphicon glyphicon-plus"></span>
		Create new exam
	</a>	
{% endblock %}	

{% block button %}
	<input type="text" id="id_search" placeholder="Filter students">
	<br>
	<br>
	<button class="btn btn-primary" id="id_submit" type="submit" name="update">Update</button>	
	<button class="btn btn-danger" id="id_delete" name="delete" onclick="return confirmDelete()">Delete</button>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var participants = [];
		
		{% for participant in participants %}
			participants.push({{ participant.user.id }});
		{% endfor %}

		$("#id_name").val("{{ course.name }}");
		$("#id_description").val("{{ course.description }}");
		$("option").each(function() {
			if (participants.indexOf(parseInt($(this).attr("value"))) != -1) {
				$(this).attr("selected", true);
			}
		});

		$('#id_search').change(function(){
			var filter = $(this).val();
			$('option').each(function(){
				if ($(this).text().indexOf(filter) != -1) {
					$(this).show();
				} else {
					$(this).hide();
				}
			});
		});

		function confirmDelete(){
			return confirmed = confirm("Are you sure?");
		}
	</script>
{% endblock %}