{% extends 'base.html' %}

{% block messages %}
    {% for message in messages %}
    	{{ message }}
    {% endfor %}
{% endblock %}

{% block header %}Your courses{% endblock %}

{% block dashboard %}
	{% for course in courses %}
		<a class="list-group-item" href="{% url 'view_course' course.id %}">
			<h4 class="list-group-item-heading">{{ course.name }}</h4>
			<p class="list-group-item-description">{{ course.description }}</p>
		</a>
	{% endfor %}
	<h3 class="text-primary text-center">Uncompleted active exams</h3>
	{% for exam in exams %}
		<a class="list-group-item" href="{% url 'view_exam' exam.course.id exam.id %}">
			<h4 class="list-group-item-heading">{{ exam.name }}</h4>
			<p class="list-group-item-description">{{ exam.active_to|timeuntil }}</p>
		</a>
	{% endfor %}
{% endblock %}