{% extends 'base.html' %}

{% block header_text %}{{ course.name }}{% endblock %}

{% block dashboard %}
	<b>Course owner:</b> 
	<p>{{ course.owner }}</p>
	<b>Course description:</b> 
	<p>{{ course.description }}</p>
	<b>Course participants:</b>
	{% for participant in participants %}
		<p>{{ participant.user }}</p>
	{% endfor %}
	<b>Course updated:</b> 
	<p>{{ course.updated }}</p>
	<b>Course exams:</b>
	{% for exam in exams %}
		<a class="list-group-item" href="{% url 'view_exam' course.id exam.id %}">
			<h4 class="list-group-item-heading">{{ exam.name }}</h4>
			<p class="list-group-item-description">{{ exam.description }}</p>
		</a>
	{% endfor %}
{% endblock %}