{% extends 'base.html' %}

{% block header_text %}Viewing scores for: {{ course.name }}{% endblock %}

{% block dashboard %}
	<table class="table table-hover">
		<tr>
			<th></th>
			{% for values in scores.values %}
				{% if forloop.first %}
					{% for key in values.keys %}
						<th>{{ key.name }}</th>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tr>
		{% for key, value in scores.items %}
			<tr>
				<th>{{ key.user }}</th>
				{% for val in value.values %}
					<td>{{ val }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	<a href="{% url 'edit_course' course.id %}">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back to course
	</a>
{% endblock %}